# Node modules
node_modules/
package-lock.json
yarn.lock

# Build output
/build
/dist

# React
/.cache
/.next
/public/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
venv/
env/
.env

# Flask
instance/
*.db

# MySQL
*.sql
*.sql.gz
*.dump
*.sql.bz2

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log

# Coverage reports
coverage/

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
*.idea/

# Environment variables
.env
*.env
