/* Header/Topnav bar component */


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}


.header-button-container{
    display:flex;
    width: 100%;
    justify-content: space-between;
}

.header-button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.header-button:hover {
    background-color: #777;
}

/* Adjust styles for different screen sizes as needed */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 10px;
    }

    .header-left, .header-middle, .header-right {
        margin-bottom: 10px;
    }
}

/*-------------------------------------------------------------------------*/
/* SearchProduct component */

.search-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    width: 100%;

}

.search-product-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 30%;
    margin-bottom:5px;
}

.search-product-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: inherit;
}

.search-product-container button:hover {
    background-color: #0056b3;
}


/*-------------------------------------------------------------------------*/
/* ProductsListEditDelete component */

.products-list-container{
    margin-top:20px;
    width: 1200px;
    height: 600px;
    background-color: white;
    overflow-y: auto; /* Add a vertical scrollbar */
}

.column-titles {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: row;
    width: 100%;

}
.product-list {
    padding: 0;
    margin: 0;
}

.product-list li {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.product-list li:hover {
    background-color: #e0e0e0; /* Darker gray background color on hover */
    cursor: pointer;
}

.product-list li span {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 10px;
    border: 1px solid black;
    
}


.product-list i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column-titles li {
    flex: 1; /* LETS EACH ITEM HAVE EQUAL LENGTH AND FILLS THE ENTIRE CONTAINER*/
    padding: 10px;
    border: 1px solid black;
    background-color: lightgray;
}



/*-------------------------------------------------------------------------*/
/* MissingReturn component */
.missing-return-container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 300px;
    
}


.add-product-container {
    margin: auto;
}


/*-------------------------------------------------------------------------*/
/* AddProductForm component */

.product-form-container {
    max-width: 500px;
    margin: 50px auto; /* Center the container horizontally */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items in the center horizontally */
}

/* Adjust the styles of labels and inputs if necessary */
.product-form-container label {
    margin-bottom: 10px; /* Add spacing between labels */
}

.product-form-container input[type="text"],
.product-form-container input[type="number"] {
    width: 100%; /* Make inputs fill the container */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in width calculation */
}

.product-form-container button {
    margin-top: 10px;
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 10px 20px; /* Add padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
}

.product-form-container button:hover {
    background-color: #45a049; /* Darker green on hover */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

/* ------------ MISSING RETURN FORM COMPONENT ----------------------------------------------*/
.missing-return-form-container{
    width: 400px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.missing-return-form-group {
    margin-bottom: 20px;
}

.missing-return-form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.missing-return-form-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.missing-return-form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.missing-return-form-container button:hover {
    background-color: #45a049;
}

.missing-return-form-containerbutton[type="submit"] {
    width: 100%;
}


/** ----------- VENDORS LIST ------------------- */
.vendors-list-container {
    margin-top: 20px;
    width: 1200px;
    background-color: white;
    overflow-y: auto;
}

.vendor-column-titles {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.column-info{
    width: 50px;
}

.vendor-column-titles li {
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: center;
    border: 1px solid black;
    background-color: lightgray;
    text-align: center;
}

.vendors-list {
    padding: 0;
    margin: 0;
}

.vendors-list li {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none; /* Remove default list style */
}

.vendors-list li span {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    width: 306px;
}

.vendors-list li:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.vendors-list i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-span {
    display: flex;
    justify-content: center;
    width: 86px;
}