.home-display-box {
    display: flex;
    flex-direction: column;
    background: #D9D9D9;
    align-items: center;
    width: 50%;
    height: 60%;
    justify-content: center;
    border: 2px solid #333; /* Dark gray border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
    margin-top: 10%;

}