/*----- MAIN PRODUCTS PAGE */

.add-missing-product-button-container {
    margin: 25px;
}

.add-product-top-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: crimson;
   
}



/*----- ADD PRODUCTS PAGE */
